{{> header }}

<div class="game">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{game.title}}</h2>
      <div>
       <p> Posted by {{ user.username }} </p>
      </div>
    </div>
    <div class="card-body">
      {{game.body}}
    </div>
  </article>

  {{#if game.Comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body">
        {{#each game.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}
</div>

<script src="/js/comment.js"></script>